@import '../../../styles.scss';

.btn-container {
    border-radius: 30px;
    color: #878282;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    width: 200px;
    height: 95px;
}

.color-orange {
    background-color: $orange;
}

.color-purple {
    background-color: $purple;
}

.color-light-pink {
    background-color: $light-pink;
}

.color-dark-pink {
    background-color: $dark-pink;
}

.color-white {
    background-color: $white;
}