@import "../../../global.scss";

@mixin btnBgColor($color) {
  background-color: $color;
}

@mixin media-query($breakpoint, $font-size, $width, $height, $border-radius) {
  @media only screen and (min-width: $breakpoint) {
    .container-btn {
      font-size: $font-size;
      width: $width;
      height: $height;
      border-radius: $border-radius;
    }
  }
}

.container {
  cursor: pointer;
  &-btn {
    color: $grey;
    border: none;
    font-family: Roboto;
    font-weight: 500;
  }
}

a {
  text-decoration: none;
  color: $grey;
}

button:disabled {
  background-color: #aca9a9;
  color: $light-pink;
  cursor: default;
}

.color {
  &-orange {
    @include btnBgColor($orange);
  }
  &-purple {
    @include btnBgColor($purple);
  }
  &-light-pink {
    @include btnBgColor($light-pink);
  }
  &-dark-pink {
    @include btnBgColor($dark-pink);
  }
  &-white {
    @include btnBgColor($white);
  }
}

/* Extra small devices (phones, 600px and down) */
@include media-query($extra-small, 10px, 110px, 30px, 8px);

/* Extra small devices (phones, 600px and down) */
@include media-query($small, 16px, 190px, 40px, 12px);

/* Medium devices (landscape tablets, 768px and up) */
@include media-query($medium, 16px, 200px, 40px, 10px);

/* Large devices (laptops/desktops, 992px and up) */
@include media-query($large, 16px, 230px, 40px, 10px);

/* Extra large devices (large laptops and desktops, 1200px and up) */
@include media-query($extra-large, 16px, 190px, 40px, 10px);
