<div>
    <app-header></app-header>
        <section>
            <img
                class="container-img"
                sizes="(max-width: 512px) 100vw, 512px" 
                src="../../assets/home-banner.svg"
                srcset="
                    ../../assets/home-banner.svg 200w,
                    ../../assets/home-banner.svg 475w,
                    ../../assets/home-banner.svg 512w"
                alt="">
        </section>
        <div class="container-btn">
            <app-button
                label="Quero adotar"
                bgColor="orange"
            ></app-button>
            <app-button
                label="Quero divulgar um animal"
                bgColor="purple"
                (onClick)="registratePet()"
            ></app-button>
        </div>
        <section>
            <app-animal-card
                [animals]="animals"
            ></app-animal-card>
        </section>
</div>