<p class="container-title">Pets disponíveis para adoção</p>
<div class="container-cards">
  <div class="animal-info" *ngFor="let animal of animals" (click)="getAnimalInfo(animal.id)">
    <img [src]="displayImage(animal, animalImages)" class="animal-img">
    <div class="animal-features">
      <p class="animal-name">{{ animal.name }}</p>
      <p class="animal-size">{{ animal.size }}</p>
      <p class="animal-local">{{ animal.local | uppercase }}</p>
    </div>
  </div>
</div>

<div *ngIf="isModalVisible">
  <app-animal-info [selectedAnimal]="selectedAnimal" [animalImages]="animalImages"></app-animal-info>
</div>