@import '../../global.scss';

.register-container {
    background-color: $white;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .subtitle {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .register-container {
        width: 90%;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        select {
            padding: 8px 3px;
            width: 80vw;
            border: 1px solid $dark-pink;
            border-radius: 10px;
            margin-bottom: 10px;
            color: grey;
        }
    }
    .input-container {
        width: 90%;
        input {
            width: 80vw;
            padding: 8px;
            border: 1px solid $dark-pink;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .register-container {
        width: 90%;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        select {
            padding: 8px 3px;
            width: 70vw;
            border: 1px solid $dark-pink;
            border-radius: 10px;
            margin-bottom: 10px;
            color: grey;
        }
    }
    .input-container {
        width: 100%;
        display: flex;
        justify-content: center;
        input {
            width: 70vw;
            padding: 8px;
            border: 1px solid $dark-pink;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .subtitle {
        font-size: 24px;
    }
    .register-container {
        width: 70%;
        margin: 50px auto;

        select {
            padding: 8px 3px;
            width: 50vw;
            border: 1px solid $dark-pink;
            border-radius: 10px;
            margin-bottom: 10px;
            color: grey;
        }
    }
    .input-container {
        width: 100%;
        input {
            width: 50vw;
            padding: 8px;
            border: 1px solid $dark-pink;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .subtitle {
        font-size: 24px;
    }
    .register-container {
        width: 70%;
        margin: 50px auto;

        select {
            padding: 8px 3px;
            width: 45vw;
            border: 1px solid $dark-pink;
            border-radius: 10px;
            margin-bottom: 10px;
            color: grey;
        }
    }
    .input-container {
        width: 100%;
        input {
            width: 45vw;
            padding: 8px;
            border: 1px solid $dark-pink;
            border-radius: 8px;
            margin-bottom: 10px;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .subtitle {
        font-size: 28px;
    }
    .register-container {
        width: 50%;
        margin: 30px auto;

        select {
            padding: 8px 3px;
            width: 35vw;
            border: 1px solid $dark-pink;
            border-radius: 10px;
            margin-bottom: 10px;
            color: grey;
        }
    }
    .input-container {
        width: 100%;
        input {
            width: 35vw;
            padding: 8px;
            border: 1px solid $dark-pink;
            border-radius: 8px;
            margin-bottom: 10px;
        }
    }
}

.subtitle {
    text-align: center;
    color: $dark-pink;
    font-family: Roboto;
    font-weight: 500;
}