<div>
    <app-header></app-header>
    <form class="register-container" #form="ngForm">
        <p class="subtitle">Cadastre um pet ❤</p>
        <div class="input-container">
            <input placeholder="Nome do animal" type="text" name="name" ngModel required>
        </div>
        <div class="input-container">
            <select name="species">
                <option value="" selected disabled>Selecione a espécie</option>
                <option *ngFor="let item of species" [ngValue]="item">{{item}}</option>
            </select>
        </div>

        <div class="input-container">
            <input placeholder="Caracteristicas" type="text" name="description" ngModel required>
        </div>

        <div class="input-container">
            <select name="gender" ngModel required>
                <option value="" selected disabled>Selecione o gênero</option>
                <option *ngFor="let item of gender" [ngValue]="item">{{item}}</option>
            </select>
        </div>

        <div class="input-container">
            <input placeholder="Idade" type="number" min="0" max="100" name="age" ngModel required>
        </div>

        <div class="input-container">
            <select name="size" ngModel required>
                <option value="" selected disabled>Selecione o porte</option>
                <option *ngFor="let size of sizes" [ngValue]="size">{{size}}</option>
            </select>
        </div>

        <div class="input-container">
            <input placeholder="Estado" type="text" name="local" ngModel required>
        </div>

        <div class="input-container">
            <input placeholder="Vacinas" type="text" name="vaccines" ngModel required>
        </div>

        <div class="input-container">
            <select name="castration" ngModel required>
                <option value="" disabled>Castrado(a)?</option>
                <option *ngFor="let item of castration" [ngValue]="item === 'Sim' ? true : false">{{item}}</option>
            </select>
        </div>

        <app-button
            label="Enviar cadastro"
            bgColor="dark-pink"
            [disabled]="form.invalid"
            (onClick)="onSubmitForm(form.value, form)"
        ></app-button>
    </form>
</div>