<div>
    <app-header></app-header>
    <form class="register-container">
        <p class="subtitle">Cadastre um animal</p>
        <app-input-form
            name="nome"
            label="Nome do animal"
            type="text"
        ></app-input-form>
        <app-input-form
            name="especie"
            label="Espécie"
            type="text"
        ></app-input-form>
        <app-input-form
            name="caracteristicas"
            label="Características"
            type="text"
        ></app-input-form>
        <app-input-form
            name="sexo"
            label="Sexo"
            type="text"
        ></app-input-form>
        <app-input-form
            name="idade"
            label="Idade"
            type="text"
        ></app-input-form>
        <app-input-form
            name="porte"
            label="Porte"
            type="text"
        ></app-input-form>
        <app-input-form
            name="estado"
            label="Estado"
            type="text"
        ></app-input-form>
        <app-input-form
            name="vacinas"
            label="Vacinas"
            type="text"
        ></app-input-form>
        <app-input-form
            name="castracao"
            label="Castração"
            type="text"
        ></app-input-form>
        <app-input-form
            name="foto"
            label="Foto"
            type="text"
        ></app-input-form>

        <app-button
            label="Cadastrar animal"
            bgColor="dark-pink"
        ></app-button>
    </form>
</div>